<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= author.email_address %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= author.contact_number %>
  </p>

</div>
